---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

thead      { background-color: transparent; border-top: 2px solid #9B9B9D; }

.smallfont p  { font-size: 0.85em; }
.smallfont ul { font-size: 0.85em; }
