---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

thead      { background-color: transparent;
             border-top: 2px solid #9B9B9D; }  //Remove table header colour

h4 { font-size: 0.9em; font-weight: lighter; font-style: italic; margin: 1.0em 0 0.5em; }

figure {margin: 1em 0;}
figcaption { text-align: center; }

.page__footer { background-color: #555555; }   //Darken Page Footer
.page__content p  { font-size: 0.85em; }   //Resize default font
.page__content ul { font-size: 0.85em; }   //Resize default font

//Custom Styles
.sph_img  { border-radius: 7px; }               //Embedded post/page images
.sph_page_date { font-size: 0.885em;}
.sph_post_date { font-size: 0.75em;}
